# Set internal flash size
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y

# Partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y

# SPI flash driver
CONFIG_SPI_FLASH_CHECK_ERASE_TIMEOUT_DISABLED=y

# SPIFFS Configuration
CONFIG_SPIFFS_CACHE=y
CONFIG_SPIFFS_CACHE_STATS=n
CONFIG_SPIFFS_CACHE_WR=n
CONFIG_SPIFFS_FOLLOW_SYMLINKS=n
CONFIG_SPIFFS_GC_MAX_RUNS=10
CONFIG_SPIFFS_GC_STATS=n
CONFIG_SPIFFS_MAX_PARTITIONS=3
CONFIG_SPIFFS_META_LENGTH=4
CONFIG_SPIFFS_OBJ_NAME_LEN=32
CONFIG_SPIFFS_PAGE_CHECK=n
CONFIG_SPIFFS_PAGE_SIZE=1024
CONFIG_SPIFFS_USE_MAGIC=n
CONFIG_SPIFFS_USE_MTIME=n

# ST7789 configuration
CONFIG_BL_GPIO=19
CONFIG_CS_GPIO=-1
CONFIG_DC_GPIO=21
CONFIG_HEIGHT=240
CONFIG_MOSI_GPIO=23
CONFIG_OFFSETX=0
CONFIG_OFFSETY=0
CONFIG_RESET_GPIO=22
CONFIG_SCLK_GPIO=18
CONFIG_WIDTH=240
