[submodule "libopencm3"]
	path = stm32/libopencm3
	url = https://github.com/libopencm3/libopencm3
[submodule "stm32/blackmagic"]
	path = stm32/blackmagic
	url = git@github.com:nsec/blackmagic-dev.git
	branch = nsec19
