# SPDX-FileCopyrightText: 2024 NorthSec
#
# SPDX-License-Identifier: MIT

/.pio
/.cache
/compile_commands.json
/*.plist
/*.old
/dependencies.lock
/managed_components
/sdkconfig.addon
/sdkconfig.conference
/sdkconfig.ctf

xcuserdata

# python
__pycache__/
*.py[cod]

# OS X temp files
*.DS_Store

# Xcode project bundle file
*.xcodeproj

# Sublime Text project file
*.sublime-*

.vscode/
