menu "NORTHSEC 2024"
    config CONFIG_NSEC_BUILD_CTF_ADDON
        bool "Include NorthSec CTF Addon in build"
        default n
        help
            Set this when building firmware that is available during CTF.
            If this options is enabled, storage challenges code will be loaded.
            DO NOT ENABLE WHEN BUILDING THE CONFERENCE FIRMWARE
endmenu

