menu "Graphics component"

	config GRAPHICS_EYE_LED_GPIO
		int "GPIO of the eye LED"
		default 2
		help
			The GPIO pin number for the "eye" LED on the badge.

	config GRAPHICS_FAST_TILES
		bool "Enable fast tiles cache"
		default false
		help
			Allocate a buffer in the heap for all "fast" tiles in the images
			library.  This significantly speeds up rendering but uses a large
			chunk of the memory.

endmenu
