@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

body {
    background: #1c75bc url(images/badge.png) no-repeat fixed 50% 3%;
    background-size: 110%;
    color: #EEE;
    font-family: "Anonymous Pro", monospace;
    margin:0 auto;
    max-width: 70%;
}

h1 {
    font-size: 100px;
    text-align: center;
}

h1 .small {
    font-size: 40px;
    display: block;
    margin:0;
    padding:0;
    line-height: 10px;
}

a {
    color: white;
    font-weight: bold;
}

a:hover {
    color: #1c75bc;
    background: #eee;
}

td {
    border: 1px solid rgba(255,255,255,0.3);
}
