# Set the path of your the BlackMagic debugger device. Ex:
# "/dev/stty0" or "/dev/ttyUSB0" (Linux), "/dev/cu.usbmodem012345678" (macOS)
target extended-remote /dev/stty0

# Erase all the data (App and SoftDevice) from the chip before flashing.
set $FORCE_ERASE_ALL = 0

# Quit gdb after flashing is done.
set $QUIT_AFTER_FLASH = 0
